
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-area="Benutzerkonto" asp-controller="Benutzerkonto" asp-action="LoginMicrosoft" asp-route-redirectUri="http://www.google.de">
    <i class="fab fa-windows"></i>
    <span>Microsoft-Authentifizierung</span>
</a>
